div.main h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 5px;
  border-bottom: #dedede solid;
}

div.main div.project {
  position: relative;
  width: 100%;
  padding: calc(480 / 1440 * 100%) 0 0;
}
div.main div.project iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

div.main div.description {
  width: 45%;
  min-width: 30%;
  padding: 10px;
  margin: 10px auto;
  border: #dedede solid;
  border-width: 2px;
  border-radius: 0.5em;
}

div.main div.description p.sLink {
  margin: 10px auto;
  text-align: center;
}

/* =====On Mobile Screen===== */
@media only screen and (max-width: 480px) {
  div.main div.project {
    position: relative;
    width: 100%;
    padding: calc(480 / 600 * 100%) 0 0;
  }

  div.main div.description {
    width: 70%;
    min-width: 50%;
    padding: 10px;
    margin: 10px auto;
    border: #dedede solid;
    border-width: 2px;
    border-radius: 0.5em;
  }
}
