div.main h1 {
  text-align: center;
  font-size: 40px;
  margin: 5px 0px;
  border-bottom: #dedede solid;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-flow: column;
}
.project {
  text-align: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.project iframe {
  max-width: 100%;
}
.project video {
  max-width: 100%;
}
.description {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 45%;
  min-width: 30%;
  padding: 10px;
  margin: 10px auto;
  border: #dedede solid;
  border-width: 2px;
  border-radius: 0.5em;
}
.description p.sLink {
  margin: 10px auto;
  text-align: center;
}

/* =====On Mobile Screen===== */
@media only screen and (max-width: 480px) {
  .project {
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .description {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 70%;
    min-width: 50%;
    padding: 10px;
    margin: 10px auto;
    border: #dedede solid;
    border-width: 2px;
    border-radius: 0.5em;
  }
}
